.contact {
  display: flex;
  flex-direction: column;
  width: 60ch;
}

.contact-p {
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  padding-bottom: 50px;
  max-width: 60ch;
  text-shadow: 2px 2px 8px black;
  color: white;
}

.contact-h1 {
  font-size: 0;
  color: white;
}

.contact-h2 {
  color: white;
}

.label {
  color: white;
}
