.about {
  display: flex;
  flex-direction: column;
  animation: fadeIn 5s;
}

.about-p {
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  padding-bottom: 50px;
  max-width: 60ch;
  text-shadow: 2px 2px 8px black;
  color: white;
}

.about-h1 {
  font-size: 0;
  color: white;
}

.about-h2 {
  color: white;
  font-weight: 100;
  font-size: 60px;
  text-transform: capitalize;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
