@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.home {
  display: flex;
  flex-direction: column;
  animation: fadeIn 5s;
}

.home-p {
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  padding-top: 30vh;
  padding-bottom: 50px;
  max-width: 60ch;
  text-shadow: 2px 2px 8px black;
  color: white;
}
